<% content_for :addtional_includes do -%>
   <%= javascript_include_tag "jquery","jquery.lightbox-0.5" %>
   <%= stylesheet_link_tag "jquery.lightbox-0.5.css" %>

    <script type="text/javascript">
    jQuery(function() {
        jQuery('#gallery a').lightBox();
    });
    </script>
  <script>
  jQuery.noConflict();

</script>

<% end -%>
<div class="ga_left">
<% unless @galleries.blank? %>
<% @galleries.each do |gallery| %>
 <%=  link_to_remote "#{gallery.name}", :url => gallery_url(:id => gallery), :method => :get  %> <br />

<% end %>

<%end%>
</div>
<div class="ga_right">
 <div id="gallery_id">
</div>
</div>

<div class="clear"> </div>

<!--

<% unless @galleries.blank? %>


<% i = 0 %>
<% @galleries.each do |gallery| %>
 <div class="<%= i%2 == 0 ? 'gallery_left' : 'gallery_right'%>">
<table>
  <tr>

     <td>
       <% i += 1%>
       <% unless gallery.gallery_assets.blank? -%>
         <%=  link_to image_tag(gallery.gallery_assets.find(:first, :order => "RAND()").asset.url(:thumb),:class => 'gallery_image') , gallery    %>
       <% end -%>
     </td>
     <td>
         <h5> Gallery Name : </h5><%= link_to gallery.name ,gallery %> <h5> Description : </h5> <%=h gallery.description %>
     </td>

  </tr>
  </table>
  </div>
  <% if i % 2 == 0%>
     <div class='clear'> </div>
  <%end%>
<% end %>

<%end%>
<br />
-->

